@font-face {
    font-family: Abel;
    src: url('../Fonts/Abel-Regular.ttf'); 
}

.home-head-wrapper {
    max-width: 100%;
}

.home-head-wrapper div {
    display: flex;
    justify-content: space-between;
}

div div {
    padding-right: 10px;
}

.welcome {
    font-family: Abel;
    font-weight: 400;
    font-size: 47px;
    margin: 10px 0 0 30px;
}